<div class="row" ng-init="getNotes()">
  <div class="col-3">
    <form name="noteform" ng-submit="addNote()" novalidate>
      <p class="text-center title">Add Note:</p>
      <input name="title" type="text" ng-model="title" required placeholder="Note Title*" ng-required="true">
      <input name="category" type="text" ng-model="category" required placeholder="Category*" ng-required="true">
      <textarea name="content" type="text" ng-model="content" required placeholder="Note*" ng-required="true"></textarea>
      <div class="center">
        <button name="submit" ng-disabled="noteform.$invalid" class="add-btn">Add Note</button>
      </div>
    </form>
  </div>
  <div class="col-3" ng-repeat="note in notes">    
    <div class="card">
      <p class="card-title">{{note.title}}</p>
      <p class="card-category">{{note.category}}</p>
      <p class="card-body">{{note.content | characters:75: false}}</p>
      <div class="text-center">
        <button ui-sref="note({id: note.noteId})" class="see-btn">See Note</button>
        <button ng-click="deleteNote($index)" class="delete-btn">Delete</button>
      </div>
    </div>
  </div>
</div>
