<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">NAVBAR</a>
            <ul class="navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/secret">Secret</a></li>
                <li><a href="/register">Registration</a></li>

            </ul>
        </div>
    </nav>



    <!-- Autres sections ici -->
</body>

</html>